body {
    background: #dfdcdc;
}
.navbar {
    display: flex;
    padding: 5px 12px;
    align-items: center;
}

.nav-logo a {
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

.nav-links ul a {
    text-decoration: none;
    color: #000000;
    padding: 8px;
}

.hero {
    width: 100%;
    height: 550px;
    background: #4CAF50;
    border-radius: 20px;
}

.container .text-produk {
    margin-left: 60px;
    margin-top: 100px;
    font-size: 24px;
}

.wrapper-produk {
    max-width: 1450px;
    display: flex;
    padding: 12px;
    box-sizing: border-box;
}

.wrapper-produk .produk {
    height: 350px;
    padding: 20px;
    margin-left: 50px;
    background: #ffffff;
    border-radius: 10px;
    margin-top: -10px;
}

.wrapper-produk .produk a {
    text-decoration: none;
}

.wrapper-produk .produk img {
    width: 250px;
}

.wrapper-produk .produk h2 {
    font-size: 24px;
    color: #000000;
}

.wrapper-produk .produk p {
    font-size: 18px;
    color: #4CAF50;
    line-height: 0,5px;
}

.text-detail-produk {
    margin-left: 60px;
    margin-top: 50px;
    font-size: 24px;
}

.wrapper-detail-produk {
    width: 100%;
    margin-left: 60px;
    display: flex;
    flex: wrap;
    padding: 10px;
}

.wrapper-detail-produk .item img {
    width: 350px;
    height: 350px;
    border-radius: 5px;

}

.wrapper-detail-produk .detail-produk {
    margin-left: 50px;
}

.wrapper-detail-produk .detail-produk h4 {
    font-size: 24px;
    color: #4CAF50;
    font-weight: bold;
    margin-top: -5px;
}

.wrapper-detail-produk .detail-produk .harga-produk {
    font-size: 18px;
    color: #000000;
    line-height: 1.5px;
}

.wrapper-detail-produk .detail-produk input {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.wrapper-detail-produk .detail-produk button{
    width: 100%;
    background: #4CAF50;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

.informasi {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
}

.informasi h2 {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -20px;
}

.informasi p {
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 20px;
    background: #fff;
    margin-top: 30px;
}

th, td {
    text-align: left;
    padding: 10px;
}

a.detail {
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    background: blue;
}

.detail-transaksi {
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
    background: #ffffff;
    display: flex;
}

.detail-transaksi .transaksi {
    margin-left: 100px;
}

.detail-transaksi .transaksi button.proses {
    padding: 15px;
    background: yellow;
    color: #000000;
    border: none;
    border-radius: 10px;
}

.detail-transaksi .transaksi button.dikirim {
    padding: 15px;
    background: green;
    color: #000000;
    border: none;
    border-radius: 10px;
}

.detail-transaksi .transaksi button.ditolak {
    padding: 15px;
    background: red;
    color: #000000;
    border: none;
    border-radius: 10px;
}

.detail-transaksi .transaksi button.ditolak {
    padding: 15px;
    background: red;
    color: #000000;
    border: none;
    border-radius: 10px;
}


